* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 200px;
}
body {
  background-color: purple;
  color: white;
  position: relative;
}
.back {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s linear;
}
.back-trigger {
  opacity: 1;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.list-item {
  display: flex;
  width: 200px;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.content {
  display: none;
  transition: opacity 0.5s ease-in;
  padding: 10px;
  color: black;
}

.c1 {
  opacity: 0;
}
.c2 {
  opacity: 0;
}
.c3 {
  opacity: 0;
}
.c4 {
  opacity: 0;
}
.trigger {
  display: block;
}
.trigger-active {
  opacity: 1;
}
